* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.header {
  display: flex;
  margin: 30px 15px auto;
  justify-content: space-between;
}

.midtrans-logo > img {
  cursor: pointer;
}

.goto-finance-logo {
  display: flex;
  margin-left: 45px;
  cursor: pointer;
}

.goto-finance-logo > span {
  font-size: 9px;
  margin-right: 5px;
}

.goto-finance-logo > img {
  width: auto;
  height: 12px;
}

header > button {
  background-color: transparent;
  border: none;
}

.header-burger-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

#home {
  position: relative;
  margin: 20px 15px auto;
}

.banner > h1 {
  font-size: 27px;
  line-height: 35px;
  font-weight: bolder;
}

.banner > p {
  margin-top: 25px;
  line-height: 23px;
  font-size: 15.5px;
}

.banner > span {
  display: inline-block;
  margin-top: 40px;
  background-color: black;
  padding: 13px 20px 13px;
  border-radius: 25px;
  font-weight: bold;
  background-color: #054fbf;
  cursor: pointer;
}

.banner > span:hover {
  background-color: #0346ac;
}

.banner-img-wrapper {
  position: absolute;
  right: 0;
  background-image: url(../img/banner-img.avif);
  height: 300px;
  width: 300px;
  background-size: cover;
}

.pattern-white {
  /* position: absolute; */
  left: 0;
  right: 0;
  margin-top: 200px;
  height: 50px;
  width: 100%;
  background-image: url(../img/pattern-white.png);
  background-size: cover;
}

#client-home {
  position: relative;

  left: 0;
  right: 0;
  margin-top: 250px;
}

.list-client {
  background-color: #f7fcff;
}

.swiper-container {
  overflow: hidden;
  white-space: nowrap;
}

.client-logos-left {
  display: inline-block;
  animation: 60s slide-left infinite linear;
}

.client-logos-right {
  display: inline-block;
  animation: 60s slide-right infinite linear;
}

.img-card {
  background-color: white;
  margin: 0 5px;
  height: 50px;
  padding: 10px;
  border-radius: 30%;
  box-shadow: 0 10px 20px 0 rgb(45 50 55 / 6%);
}

.card-container > h2 {
  text-align: center;
  padding: 50px;
  color: white;
}

.card {
  width: 90%;
  height: 200px;
  margin: auto auto 10px;
  padding: 15px;
  background-color: #fff;
  color: black;
  border-radius: 5%;
}

.card > p {
  font-size: 0.6em;
  margin-bottom: 15px;
}

.card > span > a {
  font-size: 0.8em;
  color: #054fbf;
}

.heading-payment {
  display: flex;
  margin-bottom: 10px;
}

.heading-payment > img {
  height: 30px;
  margin-right: 10px;
}

.heading-payment > h3 {
  font-size: 0.7em;
}
