.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 1000, 'GRAD' 200, 'opsz';
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.p-size {
  display: block;
  font-size: 100px;
  font-weight: 400px;
  height: 100px;
  width: 100px;
  padding: 100px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #002855;
}

.header {
  display: flex;
  margin: 30px 15px auto;
  justify-content: space-between;
}

.midtrans-logo > img {
  cursor: pointer;
}

.goto-finance-logo {
  display: flex;
  margin-left: 45px;
  cursor: pointer;
}

.goto-finance-logo > span {
  font-size: 9px;
  margin-right: 5px;
}

.goto-finance-logo > img {
  width: auto;
  height: 12px;
}

.header-burger-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 400px;
  padding: 25px;
}

main {
  margin: 20px 15px auto;
}

.banner > h1 {
  font-size: 27px;
  line-height: 35px;
  font-weight: bolder;
}

.banner > p {
  margin-top: 25px;
  line-height: 23px;
  font-size: 15.5px;
}

.banner > span {
  display: inline-block;
  margin-top: 40px;
  background-color: black;
  padding: 13px 20px 13px;
  border-radius: 25px;
  font-weight: bold;
  background-color: #054fbf;
  cursor: pointer;
}

.banner > span:hover {
  background-color: #0346ac;
}

/* .icon-laptop {
  position: absolute;
  background-image: url(https://midtrans.com/assets/img/image.avif?v=1676436294);
  width: 275px;
  height: 275px;
  background-size: cover;
  margin-top: 20px;
  right: 0;
} */

.svg1 > img {
  /* position: relative;
  background-image: url(https://midtrans.com/assets/img/pattern-white.png);
  width: 100px;
  height: 100px;
  z-index: 9999; */
  background-color: #edf4f9;
}

/* .svg1 > img {
  position: absolute;
  margin-top: 170px;
  left: -10px;
  right: 0;
  width: 110%;
  height: 75px;
  background-size: cover;
} */

.try1 {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 250px;
  width: 250px;
  height: 250px;
  /* background-color: #f7fcff; */
  background-color: #edf4f9;
}
